Repository Cxbx-Reloaded/XbSymbolDatabase, changes with the labels that .github/labeler.yml gives for each.
All labels: OOVPA, needs-verification, D3D8, D3D8LTCG, DSOUND, JVS, XACTENG, XGRAPHIC, XNET, XONLINE, XAPI, CMAKE, TOOLS

change license to MIT
  LICENSE
  include/Xbe.h
  include/libXbSymbolDatabase.h
  src/OOVPADatabase/OOVPA.h
  src/lib/internal_db_version.h
  src/lib/internal_functions.h
  src/lib/internal_tests.h
  src/lib/libXbSymbolDatabase.c
  src/lib/manual_custom.h
  src/lib/manual_d3d8__ltcg.h
  src/lib/manual_dsound.h
  src/lib/manual_jvs.h
  src/lib/manual_xapilib.h
  src/test/libverify.cpp
  src/test/libverify.hpp
  src/test/main.cpp
  src/test/util/cliConfig.cpp
  src/test/util/cliConfig.hpp
  src/test/util/helper.hpp
Labels: OOVPA, needs-verification

import: disable xxhash project error deprecated
  projects/UnitTest/CMakeLists.txt
Labels: CMAKE

lib: Add note for NFL 2K3 (b4721) contain full library of DSOUND and XONLINES, according to unittest.
  src/OOVPADatabase/DSound_OOVPA.inl
  src/OOVPADatabase/XOnline_OOVPA.inl
Labels: OOVPA, needs-verification, DSOUND, XONLINE

unittest: fix XOnline symbols not lowered to 4721 build version.
  src/test/libverify/XONLINE.cpp
Labels: none

remove old TODO comment
  src/lib/manual_d3d8__ltcg.h
Labels: none

lib: prepare how OOVPA table linkage will be used due to total count global variable cannot be used inside another global variable
  src/OOVPADatabase/D3D8LTCG_OOVPA.inl
  src/OOVPADatabase/D3D8_OOVPA.inl
  src/OOVPADatabase/DSound_OOVPA.inl
  src/OOVPADatabase/JVS_OOVPA.inl
  src/OOVPADatabase/OOVPA.h
  src/OOVPADatabase/XActEng_OOVPA.inl
  src/OOVPADatabase/XGraphic_OOVPA.inl
  src/OOVPADatabase/XNet_OOVPA.inl
  src/OOVPADatabase/XOnline_OOVPA.inl
  src/OOVPADatabase/Xapi_OOVPA.inl
  src/lib/internal_db_version.h
  src/lib/internal_functions.h
  src/lib/internal_tests.h
  src/lib/libXbSymbolDatabase.c
Labels: OOVPA, needs-verification, D3D8, D3D8LTCG, DSOUND, JVS, XACTENG, XGRAPHIC, XNET, XONLINE, XAPI

lib: convert JVS, XActEng, XGraphic, XNet, and XOnline group header files into source files
  projects/libXbSymbolDatabase/CMakeLists.txt
  src/OOVPADatabase/JVS_OOVPA.c
  src/OOVPADatabase/OOVPA_databases.h
  src/OOVPADatabase/XActEng_OOVPA.c
  src/OOVPADatabase/XGraphic_OOVPA.c
  src/OOVPADatabase/XNet_OOVPA.c
  src/OOVPADatabase/XOnline_OOVPA.c
  src/lib/libXbSymbolDatabase.c
Labels: OOVPA, needs-verification, CMAKE

lib: add internal_SymbolDatabaseList_ScanByReference function
  src/lib/internal_functions.h
Labels: none

lib: D3D8(LTCG) use internal_SymbolDatabaseList_ScanByReference instead of internal_LocateSymbolScan calls
  src/OOVPADatabase/D3D8LTCG_OOVPA.inl
  src/OOVPADatabase/D3D8_OOVPA.inl
  src/lib/manual_d3d8__ltcg.h
Labels: OOVPA, needs-verification, D3D8, D3D8LTCG

cmake: we no longer have inl files in OOVPADatabase folder except for child folders
  projects/libXbSymbolDatabase/CMakeLists.txt
Labels: CMAKE

lib: break DSound header file into its own independent source file
  src/OOVPADatabase/DSound_OOVPA.c
  src/OOVPADatabase/OOVPA_databases.h
  src/lib/libXbSymbolDatabase.c
  src/lib/manual_dsound.h
Labels: OOVPA, needs-verification

lib: break D3D8(LTCG)_OOVPA header files into its own independent source files
  src/OOVPADatabase/D3D8LTCG_OOVPA.c
  src/OOVPADatabase/D3D8_OOVPA.c
  src/OOVPADatabase/OOVPA.h
  src/OOVPADatabase/OOVPA_databases.h
  src/lib/libXbSymbolDatabase.c
Labels: OOVPA, needs-verification

lib: break Xapi header file into its own independent source file
  src/OOVPADatabase/OOVPA_databases.h
  src/OOVPADatabase/Xapi_OOVPA.c
  src/lib/libXbSymbolDatabase.c
  src/lib/manual_xapilib.h
Labels: OOVPA, needs-verification

lib: re-sort arguments, add self register argument, and remove unused variables
  src/lib/internal_functions.h
  src/lib/libXbSymbolDatabase.c
  src/lib/manual_d3d8__ltcg.h
  src/lib/manual_dsound.h
  src/lib/manual_xapilib.h
Labels: none

lib: rename OOVPATable_Total to OOVPATableList and minor reduce argument needed for internal_OOVPATableList_scan
  src/OOVPADatabase/D3D8LTCG_OOVPA.c
  src/OOVPADatabase/D3D8_OOVPA.c
  src/OOVPADatabase/DSound_OOVPA.c
  src/OOVPADatabase/JVS_OOVPA.c
  src/OOVPADatabase/OOVPA.h
  src/OOVPADatabase/OOVPA_databases.h
  src/OOVPADatabase/XActEng_OOVPA.c
  src/OOVPADatabase/XGraphic_OOVPA.c
  src/OOVPADatabase/XNet_OOVPA.c
  src/OOVPADatabase/XOnline_OOVPA.c
  src/OOVPADatabase/Xapi_OOVPA.c
  src/lib/internal_db_version.h
  src/lib/internal_functions.h
  src/lib/internal_tests.h
  src/lib/libXbSymbolDatabase.c
Labels: OOVPA, needs-verification

lib: remove internal_LocateSymbolScan function no longer in use
  src/lib/internal_functions.h
Labels: none

d3d8: fixed D3D_g_Stream reference offset to correct location and rename old reference to D3D_g_Stream_i_pVertexBuffer reference
  include/xref/d3d8.def
  src/OOVPADatabase/D3D8/3911.inl
  src/OOVPADatabase/D3D8/4034.inl
  src/OOVPADatabase/D3D8LTCG/3911.inl
  src/OOVPADatabase/D3D8LTCG/4039.inl
  src/OOVPADatabase/D3D8LTCG/4432.inl
  src/OOVPADatabase/D3D8LTCG/5849.inl
  src/lib/libXbSymbolDatabase.c
  src/lib/manual_d3d8__ltcg.h
  src/test/libverify/D3D8.cpp
Labels: OOVPA, needs-verification, D3D8, D3D8LTCG

lib: remove verification for D3DTSS_TEXCOORDINDEX reference since signatures already have them implemented
  src/OOVPADatabase/D3D8LTCG/5233.inl
  src/OOVPADatabase/D3D8LTCG/5849.inl
  src/lib/manual_d3d8__ltcg.h
Labels: OOVPA, needs-verification, D3D8LTCG

fix macOS and linux build
  src/lib/internal_functions.h
Labels: none

lib: fix macOS arm64 build (again)
  src/OOVPADatabase/OOVPA.h
Labels: OOVPA, needs-verification

lib: make oovpa tables static
  src/OOVPADatabase/D3D8LTCG_OOVPA.c
  src/OOVPADatabase/D3D8_OOVPA.c
  src/OOVPADatabase/DSound_OOVPA.c
  src/OOVPADatabase/JVS_OOVPA.c
  src/OOVPADatabase/XActEng_OOVPA.c
  src/OOVPADatabase/XGraphic_OOVPA.c
  src/OOVPADatabase/XNet_OOVPA.c
  src/OOVPADatabase/XOnline_OOVPA.c
  src/OOVPADatabase/Xapi_OOVPA.c
Labels: OOVPA, needs-verification

remove unused variable from manual_scan_section_dx8 function
  src/lib/manual_d3d8__ltcg.h
Labels: none

remove unused LocateSymbolCast define
  src/lib/internal_functions.h
Labels: none

update APIs wording to align with XbSDB (public) and XbSDBi (internal only)
  include/libXbSymbolDatabase.h
  src/cli/main.c
  src/lib/internal_db_version.h
  src/lib/internal_functions.h
  src/lib/internal_tests.h
  src/lib/libXbSymbolDatabase.c
  src/lib/manual_custom.h
  src/lib/manual_d3d8__ltcg.h
  src/lib/manual_dsound.h
  src/lib/manual_jvs.h
  src/lib/manual_xapilib.h
  src/test/libverify.cpp
  src/test/main.cpp
Labels: TOOLS

add missing static to internal function
  src/lib/libXbSymbolDatabase.c
Labels: none

xapi: fix GetTypeInformation_(4|8) to GetTypeInformation(2) wording
  include/xref/xapilib.def
  src/OOVPADatabase/Xapi/4242.inl
  src/OOVPADatabase/Xapi/5455.inl
  src/OOVPADatabase/Xapi_OOVPA.c
  src/lib/manual_xapilib.h
  src/test/libverify/XAPILIB.cpp
Labels: OOVPA, needs-verification, XAPI

d3d8: fix calling convention and pConstantData parameter for D3DDevice_SetVertexShaderConstantNotInline(Fast)
  src/OOVPADatabase/D3D8_OOVPA.c
Labels: OOVPA, needs-verification

d3d8ltcg: fix D3DDevice_SetVertexShaderConstantNotInline's incorrect registers for pConstantData and ConstantCount
  src/OOVPADatabase/D3D8LTCG/5233.inl
  src/OOVPADatabase/D3D8LTCG_OOVPA.c
Labels: OOVPA, needs-verification, D3D8LTCG

oovpa: add static to oovpa variables
  src/OOVPADatabase/OOVPA.h
Labels: OOVPA, needs-verification

unittest: fixed symbol reword for D3DDevice_SetVertexShaderConstantNotInline_0__LTCG_ebx1_edx2_eax3
  src/test/libverify/D3D8.cpp
Labels: none

d3d8(ltcg): update D3DDevice_CopyRects signatures
  src/OOVPADatabase/D3D8/3911.inl
  src/OOVPADatabase/D3D8/4034.inl
  src/OOVPADatabase/D3D8/4627.inl
  src/OOVPADatabase/D3D8/5120.inl
  src/OOVPADatabase/D3D8LTCG/3911.inl
  src/OOVPADatabase/D3D8LTCG/4627.inl
  src/OOVPADatabase/D3D8LTCG/4928.inl
  src/OOVPADatabase/D3D8LTCG/5120.inl
  src/OOVPADatabase/D3D8LTCG/5455.inl
  src/OOVPADatabase/D3D8LTCG_OOVPA.c
  src/OOVPADatabase/D3D8_OOVPA.c
Labels: OOVPA, needs-verification, D3D8, D3D8LTCG

d3d8ltcg: add another special case D3DDevice_CopyRects signature
  src/OOVPADatabase/D3D8LTCG/4627.inl
  src/OOVPADatabase/D3D8LTCG_OOVPA.c
Labels: OOVPA, needs-verification, D3D8LTCG

d3d8(ltcg): update D3DDevice_CopyRects signatures
  src/OOVPADatabase/D3D8/3911.inl
  src/OOVPADatabase/D3D8/4034.inl
  src/OOVPADatabase/D3D8/4627.inl
  src/OOVPADatabase/D3D8/5120.inl
  src/OOVPADatabase/D3D8LTCG/3911.inl
  src/OOVPADatabase/D3D8LTCG/4627.inl
  src/OOVPADatabase/D3D8LTCG/4928.inl
  src/OOVPADatabase/D3D8LTCG/5120.inl
  src/OOVPADatabase/D3D8LTCG/5455.inl
  src/OOVPADatabase/D3D8LTCG_OOVPA.c
  src/OOVPADatabase/D3D8_OOVPA.c
Labels: OOVPA, needs-verification, D3D8, D3D8LTCG

d3d8ltcg: add another special case D3DDevice_CopyRects signature
  src/OOVPADatabase/D3D8LTCG/4627.inl
  src/OOVPADatabase/D3D8LTCG_OOVPA.c
Labels: OOVPA, needs-verification, D3D8LTCG

xonline: update list of titles contain full library
  src/OOVPADatabase/XOnline_OOVPA.c
Labels: OOVPA, needs-verification

dsound: update list of titles contain full library
  src/OOVPADatabase/DSound_OOVPA.c
Labels: OOVPA, needs-verification

d3d8: lower D3DDevice_FlushVertexCache 4134 signature to 4039
  src/OOVPADatabase/D3D8/4039.inl
  src/OOVPADatabase/D3D8/4134.inl
  src/OOVPADatabase/D3D8_OOVPA.c
Labels: OOVPA, needs-verification, D3D8

xapi: lower MU_Init 5233 signature to 5120
  src/OOVPADatabase/Xapi/5120.inl
  src/OOVPADatabase/Xapi/5233.inl
  src/OOVPADatabase/Xapi_OOVPA.c
Labels: OOVPA, needs-verification, XAPI

lib: add XONLINEN library detection
  include/libXbSymbolDatabase.h
  src/lib/internal_functions.h
  src/lib/libXbSymbolDatabase.c
  src/test/libverify.cpp
  src/test/main.cpp
Labels: none

lib: move SEC_XNET macro to correct location
  include/libXbSymbolDatabase.h
Labels: none

.github/labeler.yml:

# Add 'OOVPA' and 'needs-verification' labels within OOVPADatabase folder and subfolders
OOVPA:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/**/*
needs-verification:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/**/*

# The rest is base on folder and file's naming
D3D8:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/D3D8/*
    - src/OOVPADatabase/D3D8_*.inl
D3D8LTCG:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/D3D8LTCG/*
    - src/OOVPADatabase/D3D8LTCG_*.inl
DSOUND:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/DSound/*
    - src/OOVPADatabase/DSound_*.inl
JVS:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/JVS/*
    - src/OOVPADatabase/JVS_*.inl
XACTENG:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/XActEng/*
    - src/OOVPADatabase/XActEng_*.inl
XGRAPHIC:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/XGraphic/*
    - src/OOVPADatabase/XGraphic_*.inl
XNET:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/XNet/*
    - src/OOVPADatabase/XNet_*.inl
XONLINE:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/XOnline/*
    - src/OOVPADatabase/XOnline_*.inl
XAPI:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/Xapi/*
    - src/OOVPADatabase/Xapi_*.inl

# Misc
CMAKE:
- changed-files:
  - any-glob-to-any-file:
    - '**/CMakeLists.txt'

# Whenever add another tool, update below as well.
TOOLS:
- changed-files:
  - any-glob-to-any-file:
    - src/cli/**
