Repository Cxbx-Reloaded/XbSymbolDatabase, changes with the labels that .github/labeler.yml gives for each.
All labels: OOVPA, needs-verification, D3D8, D3D8LTCG, DSOUND, JVS, XACTENG, XGRAPHIC, XNET, XONLINE, XAPI, CMAKE, TOOLS

.github/labeler.yml:

# Add 'OOVPA' and 'needs-verification' labels within OOVPADatabase folder and subfolders
OOVPA:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/**/*
needs-verification:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/**/*

# The rest is base on folder and file's naming
D3D8:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/D3D8/*
    - src/OOVPADatabase/D3D8_*.inl
D3D8LTCG:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/D3D8LTCG/*
    - src/OOVPADatabase/D3D8LTCG_*.inl
DSOUND:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/DSound/*
    - src/OOVPADatabase/DSound_*.inl
JVS:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/JVS/*
    - src/OOVPADatabase/JVS_*.inl
XACTENG:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/XActEng/*
    - src/OOVPADatabase/XActEng_*.inl
XGRAPHIC:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/XGraphic/*
    - src/OOVPADatabase/XGraphic_*.inl
XNET:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/XNet/*
    - src/OOVPADatabase/XNet_*.inl
XONLINE:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/XOnline/*
    - src/OOVPADatabase/XOnline_*.inl
XAPI:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/Xapi/*
    - src/OOVPADatabase/Xapi_*.inl

# Misc
CMAKE:
- changed-files:
  - any-glob-to-any-file:
    - '**/CMakeLists.txt'

# Whenever add another tool, update below as well.
TOOLS:
- changed-files:
  - any-glob-to-any-file:
    - src/cli/**

unittest: add Version details output
  src/test/main.cpp
  src/test/util/helper.hpp
Labels: none

unittest: extend Region details output
  src/test/main.cpp
  src/test/util/helper.hpp
Labels: none

unittest: allow min and full detection to have NONE status
  src/test/libverify.cpp
Labels: none

unittest: add Version details output
  src/test/main.cpp
  src/test/util/helper.hpp
Labels: none

unittest: extend Region details output
  src/test/main.cpp
  src/test/util/helper.hpp
Labels: none

unittest: extend Region details output
  src/test/main.cpp
  src/test/util/helper.hpp
Labels: none

unittest: add Version details output
  src/test/main.cpp
  src/test/util/helper.hpp
Labels: none

d3d8: mark end range for D3DDevice_SetRenderState_Deferred detection
  src/test/libverify/D3D8.cpp
Labels: none

d3d8ltcg: update D3D_BlockOnResource signatures
  src/OOVPADatabase/D3D8LTCG/3911.inl
  src/OOVPADatabase/D3D8LTCG/4039.inl
  src/OOVPADatabase/D3D8LTCG/4627.inl
  src/OOVPADatabase/D3D8LTCG/5455.inl
  src/OOVPADatabase/D3D8LTCG_OOVPA.c
  src/test/libverify/D3D8.cpp
Labels: OOVPA, needs-verification, D3D8LTCG

d3d8: add D3DDevice_SetTextureState_Deferred signature
  include/xref/d3d8.def
  src/OOVPADatabase/D3D8/3911.inl
  src/OOVPADatabase/D3D8_OOVPA.c
  src/test/libverify/D3D8.cpp
Labels: OOVPA, needs-verification, D3D8

d3d8: update D3D_BlockOnResource signatures
  src/OOVPADatabase/D3D8/3911.inl
  src/OOVPADatabase/D3D8/4034.inl
Labels: OOVPA, needs-verification, D3D8

d3d8ltcg: fix D3DDevice_SetTextureState_ColorKeyColor variant signatures
  src/OOVPADatabase/D3D8LTCG/3911.inl
  src/OOVPADatabase/D3D8LTCG/5233.inl
  src/OOVPADatabase/D3D8LTCG/5788.inl
  src/OOVPADatabase/D3D8LTCG_OOVPA.c
  src/test/libverify/D3D8.cpp
Labels: OOVPA, needs-verification, D3D8LTCG

d3d8ltcg: update D3DDevice_SetTextureState_ColorKeyColor_4__LTCG_eax1 signatures
  src/OOVPADatabase/D3D8LTCG/4039.inl
  src/OOVPADatabase/D3D8LTCG/4531.inl
  src/OOVPADatabase/D3D8LTCG_OOVPA.c
Labels: OOVPA, needs-verification, D3D8LTCG

d3d8ltcg: update D3DDevice_SetTextureState_ColorKeyColor signatures
  src/OOVPADatabase/D3D8LTCG/4432.inl
  src/OOVPADatabase/D3D8LTCG/5788.inl
  src/OOVPADatabase/D3D8LTCG_OOVPA.c
Labels: OOVPA, needs-verification, D3D8LTCG

d3d8: update D3DDevice_SetTextureState_ColorKeyColor signatures
  src/OOVPADatabase/D3D8/3911.inl
  src/OOVPADatabase/D3D8/4034.inl
Labels: OOVPA, needs-verification, D3D8
