Repository Cxbx-Reloaded/XbSymbolDatabase, changes with the labels that .github/labeler.yml gives for each.
All labels: OOVPA, needs-verification, D3D8, D3D8LTCG, DSOUND, JVS, XACTENG, XGRAPHIC, XNET, XONLINE, XAPI, CMAKE, TOOLS

d3dltcg: add CDevice_FreeFrameBuffers signatures
  include/xref/d3d8.def
  src/OOVPADatabase/D3D8/3911.inl
  src/OOVPADatabase/D3D8/4034.inl
  src/OOVPADatabase/D3D8/5455.inl
  src/OOVPADatabase/D3D8LTCG/3911.inl
  src/OOVPADatabase/D3D8LTCG/4034.inl
  src/OOVPADatabase/D3D8LTCG/4432.inl
  src/OOVPADatabase/D3D8LTCG_OOVPA.inl
  src/OOVPADatabase/D3D8_OOVPA.inl
  src/test/libverify/D3D8.cpp
Labels: OOVPA, needs-verification, D3D8, D3D8LTCG

d3dltcg: add CDevice_InitializeFrameBuffers sigs
  include/xref/d3d8.def
  src/OOVPADatabase/D3D8/3911.inl
  src/OOVPADatabase/D3D8LTCG/3911.inl
  src/OOVPADatabase/D3D8LTCG/4039.inl
  src/OOVPADatabase/D3D8LTCG/4432.inl
  src/OOVPADatabase/D3D8LTCG/4531.inl
  src/OOVPADatabase/D3D8LTCG/4627.inl
  src/OOVPADatabase/D3D8LTCG/5455.inl
  src/OOVPADatabase/D3D8LTCG_OOVPA.inl
  src/OOVPADatabase/D3D8_OOVPA.inl
  src/test/libverify/D3D8.cpp
Labels: OOVPA, needs-verification, D3D8, D3D8LTCG

fix minor spell checks by Visual Studio
  src/OOVPADatabase/D3D8LTCG_OOVPA.inl
Labels: OOVPA, needs-verification, D3D8LTCG

d3dltcg: add/update D3DDevice_Reset sigs
  src/OOVPADatabase/D3D8/3911.inl
  src/OOVPADatabase/D3D8/5558.inl
  src/OOVPADatabase/D3D8LTCG/3911.inl
  src/OOVPADatabase/D3D8LTCG/4039.inl
  src/OOVPADatabase/D3D8LTCG/4432.inl
  src/OOVPADatabase/D3D8LTCG/4627.inl
  src/OOVPADatabase/D3D8LTCG/5120.inl
  src/OOVPADatabase/D3D8LTCG/5344.inl
  src/OOVPADatabase/D3D8LTCG_OOVPA.inl
  src/OOVPADatabase/D3D8_OOVPA.inl
Labels: OOVPA, needs-verification, D3D8, D3D8LTCG

hotfix: fix arch typo and use latest macOS with target arch
  .github/workflows/ci.yml
Labels: none

HOTFIX: Fix release workflow to prevent false fail when build is skipped.
  .github/workflows/ci.yml
Labels: none

workflow: update action to resolve missing distutils module error
  .github/workflows/pull-request.yml
Labels: none

remove some disabled clang format to allow format from now on
  src/OOVPADatabase/OOVPA.h
Labels: OOVPA, needs-verification

prepare current changes to work with future code plus fix a hidden bug for zero argument
  src/OOVPADatabase/OOVPA.h
Labels: OOVPA, needs-verification

upgrade symbol groups to include support for stack/params inline except for d3d8ltcg database
  include/libXbSymbolDatabase.h
  src/OOVPADatabase/D3D8_OOVPA.inl
  src/OOVPADatabase/DSound_OOVPA.inl
  src/OOVPADatabase/JVS_OOVPA.inl
  src/OOVPADatabase/OOVPA.h
  src/OOVPADatabase/XActEng_OOVPA.inl
  src/OOVPADatabase/XGraphic_OOVPA.inl
  src/OOVPADatabase/XNet_OOVPA.inl
  src/OOVPADatabase/XOnline_OOVPA.inl
  src/OOVPADatabase/Xapi_OOVPA.inl
  src/lib/internal_db_version.h
  src/lib/internal_functions.h
  src/lib/internal_tests.h
Labels: OOVPA, needs-verification, D3D8, DSOUND, JVS, XACTENG, XGRAPHIC, XNET, XONLINE, XAPI

upgrade d3d8ltcg symbol group to include support for stack/params inline plus fill in the parameters per requirement
  src/OOVPADatabase/D3D8LTCG/3911.inl
  src/OOVPADatabase/D3D8LTCG/4039.inl
  src/OOVPADatabase/D3D8LTCG/4432.inl
  src/OOVPADatabase/D3D8LTCG/4531.inl
  src/OOVPADatabase/D3D8LTCG/4627.inl
  src/OOVPADatabase/D3D8LTCG/4721.inl
  src/OOVPADatabase/D3D8LTCG/4928.inl
  src/OOVPADatabase/D3D8LTCG/5028.inl
  src/OOVPADatabase/D3D8LTCG/5233.inl
  src/OOVPADatabase/D3D8LTCG/5344.inl
  src/OOVPADatabase/D3D8LTCG/5455.inl
  src/OOVPADatabase/D3D8LTCG/5788.inl
  src/OOVPADatabase/D3D8LTCG/5849.inl
  src/OOVPADatabase/D3D8LTCG_OOVPA.inl
  src/lib/manual_d3d8__ltcg.h
  src/test/libverify/D3D8.cpp
Labels: OOVPA, needs-verification, D3D8LTCG

extend API support to include symbol type, parameter list and count
  include/libParamTypes.h
  include/libXbSymbolDatabase.h
  include/xref/list_xref.h
  projects/libXbSymbolDatabase/CMakeLists.txt
  src/OOVPADatabase/D3D8LTCG_OOVPA.inl
  src/OOVPADatabase/D3D8_OOVPA.inl
  src/OOVPADatabase/OOVPA.h
  src/cli/main.c
  src/lib/internal_functions.h
  src/lib/libXbSymbolDatabase.c
  src/lib/manual_d3d8__ltcg.h
  src/lib/manual_dsound.h
  src/lib/manual_jvs.h
  src/lib/manual_xapilib.h
  src/test/main.cpp
Labels: OOVPA, needs-verification, D3D8, D3D8LTCG, CMAKE, TOOLS

unittest: remove multiple possible symbol names for one symbol reference
  src/test/libverify.cpp
Labels: none

add internal_RegisterXRefHelper function
  src/lib/internal_functions.h
Labels: none

replace COUNTARGS_ prefix macro to COUNT_ARRAYSIZE macro generic usage
  src/OOVPADatabase/OOVPA.h
Labels: OOVPA, needs-verification

fix wording of Function to Symbol correctly
  src/lib/internal_functions.h
  src/lib/manual_d3d8__ltcg.h
  src/lib/manual_dsound.h
  src/lib/manual_xapilib.h
Labels: none

prepare additional helpers to support new API usage better
  src/OOVPADatabase/.clang-format
  src/OOVPADatabase/OOVPA.h
  src/lib/internal_functions.h
Labels: OOVPA, needs-verification

upgrade XGraphic symbol groups to include support for stack and params
  src/OOVPADatabase/XGraphic_OOVPA.inl
Labels: OOVPA, needs-verification, XGRAPHIC

upgrade DSound symbol groups to include support for stack and params
  src/OOVPADatabase/DSound/3911.inl
  src/OOVPADatabase/DSound/4039.inl
  src/OOVPADatabase/DSound/4134.inl
  src/OOVPADatabase/DSound/4242.inl
  src/OOVPADatabase/DSound/4627.inl
  src/OOVPADatabase/DSound/5028.inl
  src/OOVPADatabase/DSound/5344.inl
  src/OOVPADatabase/DSound/5455.inl
  src/OOVPADatabase/DSound_OOVPA.inl
  src/lib/manual_dsound.h
  src/test/libverify/DSOUND.cpp
Labels: OOVPA, needs-verification, DSOUND

fix an error to allow accept xref derived setter
  src/lib/internal_functions.h
Labels: none

upgrade XACTENG symbol group to include support for stack and params
  src/OOVPADatabase/XActEng_OOVPA.inl
Labels: OOVPA, needs-verification, XACTENG

upgrade XNet/XOnline symbol groups to include support for stack and params
  src/OOVPADatabase/XNet/3911.inl
  src/OOVPADatabase/XNet/4361.inl
  src/OOVPADatabase/XNet_OOVPA.inl
  src/OOVPADatabase/XOnline/4627.inl
  src/OOVPADatabase/XOnline/5028.inl
  src/OOVPADatabase/XOnline/5659.inl
  src/OOVPADatabase/XOnline/5788.inl
  src/OOVPADatabase/XOnline_OOVPA.inl
  src/test/libverify/XNET.cpp
  src/test/libverify/XONLINE.cpp
Labels: OOVPA, needs-verification, XNET, XONLINE

remove XAPI prefix, no longer necessary plus cause conflict with new native xref string table
  include/xref/xapilib.def
  src/OOVPADatabase/Xapi/3911.inl
  src/OOVPADatabase/Xapi/4242.inl
  src/OOVPADatabase/Xapi/4361.inl
  src/OOVPADatabase/Xapi/4831.inl
  src/OOVPADatabase/Xapi_OOVPA.inl
  src/lib/libXbSymbolDatabase.c
  src/lib/manual_xapilib.h
  src/test/libverify/XAPILIB.cpp
  src/test/libverify/unittest.hpp
Labels: OOVPA, needs-verification, XAPI

add internal_RegisterValidXRefAddrv2 function
  src/lib/internal_functions.h
Labels: none

upgrade Xapi symbol group to include support for stack and params
  include/xref/xapilib.def
  src/OOVPADatabase/Xapi/3911.inl
  src/OOVPADatabase/Xapi/4242.inl
  src/OOVPADatabase/Xapi_OOVPA.inl
  src/lib/libXbSymbolDatabase.c
  src/lib/manual_xapilib.h
  src/test/libverify/XAPILIB.cpp
Labels: OOVPA, needs-verification, XAPI

upgrade d3d8 symbol group to include support for stack and params
  include/xref/d3d8.def
  src/OOVPADatabase/D3D8/3911.inl
  src/OOVPADatabase/D3D8/4034.inl
  src/OOVPADatabase/D3D8/4039.inl
  src/OOVPADatabase/D3D8/4134.inl
  src/OOVPADatabase/D3D8/5028.inl
  src/OOVPADatabase/D3D8/5455.inl
  src/OOVPADatabase/D3D8LTCG/3911.inl
  src/OOVPADatabase/D3D8LTCG/4039.inl
  src/OOVPADatabase/D3D8LTCG/4432.inl
  src/OOVPADatabase/D3D8LTCG/5233.inl
  src/OOVPADatabase/D3D8_OOVPA.inl
  src/lib/libXbSymbolDatabase.c
  src/lib/manual_d3d8__ltcg.h
  src/test/libverify/D3D8.cpp
Labels: OOVPA, needs-verification, D3D8, D3D8LTCG

upgrade JVS symbol groups to include support for stack and params
  src/OOVPADatabase/JVS/4831.inl
  src/OOVPADatabase/JVS_OOVPA.inl
  src/lib/manual_jvs.h
Labels: OOVPA, needs-verification, JVS

lib: fix missing manual JVS header file in cmake
  projects/libXbSymbolDatabase/CMakeLists.txt
Labels: CMAKE

lib: add calling convention support
  include/libCallTypes.h
  include/libXbSymbolDatabase.h
  projects/libXbSymbolDatabase/CMakeLists.txt
  src/OOVPADatabase/D3D8LTCG_OOVPA.inl
  src/OOVPADatabase/D3D8_OOVPA.inl
  src/OOVPADatabase/DSound_OOVPA.inl
  src/OOVPADatabase/JVS_OOVPA.inl
  src/OOVPADatabase/OOVPA.h
  src/OOVPADatabase/XActEng_OOVPA.inl
  src/OOVPADatabase/XGraphic_OOVPA.inl
  src/OOVPADatabase/XNet_OOVPA.inl
  src/OOVPADatabase/XOnline_OOVPA.inl
  src/OOVPADatabase/Xapi_OOVPA.inl
  src/cli/main.c
  src/lib/internal_functions.h
  src/lib/libXbSymbolDatabase.c
  src/lib/manual_d3d8__ltcg.h
  src/lib/manual_dsound.h
  src/lib/manual_jvs.h
  src/lib/manual_xapilib.h
  src/test/main.cpp
Labels: OOVPA, needs-verification, D3D8, D3D8LTCG, DSOUND, JVS, XACTENG, XGRAPHIC, XNET, XONLINE, XAPI, CMAKE, TOOLS

update XNet/XOnline calling conventions (plus fix parameters for some XNet)
  src/OOVPADatabase/XNet_OOVPA.inl
  src/OOVPADatabase/XOnline_OOVPA.inl
Labels: OOVPA, needs-verification, XNET, XONLINE

update XGraphic calling conventions
  src/OOVPADatabase/XGraphic_OOVPA.inl
Labels: OOVPA, needs-verification, XGRAPHIC

update JVS calling conventions
  src/OOVPADatabase/JVS_OOVPA.inl
Labels: OOVPA, needs-verification, JVS

update Xapi calling conventions
  src/OOVPADatabase/Xapi_OOVPA.inl
Labels: OOVPA, needs-verification, XAPI

update XActEng calling conventions
  src/OOVPADatabase/XActEng_OOVPA.inl
Labels: OOVPA, needs-verification, XACTENG

update d3d8(ltcg) calling conventions
  src/OOVPADatabase/D3D8LTCG/4531.inl
  src/OOVPADatabase/D3D8LTCG_OOVPA.inl
  src/OOVPADatabase/D3D8_OOVPA.inl
  src/test/libverify/D3D8.cpp
Labels: OOVPA, needs-verification, D3D8, D3D8LTCG

update DSOUND calling conventions
  src/OOVPADatabase/DSound_OOVPA.inl
Labels: OOVPA, needs-verification, DSOUND

review remarks
  include/libParamTypes.h
  include/libXbSymbolDatabase.h
  include/xref/list_xref.h
  src/OOVPADatabase/OOVPA.h
  src/lib/libXbSymbolDatabase.c
Labels: OOVPA, needs-verification

replace stk(#) to psh(#) per team votes
  include/libParamTypes.h
  src/OOVPADatabase/D3D8LTCG_OOVPA.inl
  src/OOVPADatabase/D3D8_OOVPA.inl
  src/OOVPADatabase/DSound_OOVPA.inl
  src/OOVPADatabase/JVS_OOVPA.inl
  src/OOVPADatabase/OOVPA.h
  src/OOVPADatabase/XActEng_OOVPA.inl
  src/OOVPADatabase/XGraphic_OOVPA.inl
  src/OOVPADatabase/XNet_OOVPA.inl
  src/OOVPADatabase/XOnline_OOVPA.inl
  src/OOVPADatabase/Xapi_OOVPA.inl
Labels: OOVPA, needs-verification, D3D8, D3D8LTCG, DSOUND, JVS, XACTENG, XGRAPHIC, XNET, XONLINE, XAPI

fix undefined macros
  src/lib/libXbSymbolDatabase.c
Labels: none

update pvs studio analyzer comment
  src/lib/internal_db_version.h
  src/lib/internal_functions.h
  src/lib/internal_tests.h
  src/lib/libXbSymbolDatabase.c
  src/lib/manual_custom.h
  src/lib/manual_d3d8__ltcg.h
  src/lib/manual_dsound.h
  src/lib/manual_jvs.h
  src/lib/manual_xapilib.h
Labels: none

.github/labeler.yml:

# Add 'OOVPA' and 'needs-verification' labels within OOVPADatabase folder and subfolders
OOVPA:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/**/*
needs-verification:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/**/*

# The rest is base on folder and file's naming
D3D8:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/D3D8/*
    - src/OOVPADatabase/D3D8_*.inl
D3D8LTCG:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/D3D8LTCG/*
    - src/OOVPADatabase/D3D8LTCG_*.inl
DSOUND:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/DSound/*
    - src/OOVPADatabase/DSound_*.inl
JVS:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/JVS/*
    - src/OOVPADatabase/JVS_*.inl
XACTENG:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/XActEng/*
    - src/OOVPADatabase/XActEng_*.inl
XGRAPHIC:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/XGraphic/*
    - src/OOVPADatabase/XGraphic_*.inl
XNET:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/XNet/*
    - src/OOVPADatabase/XNet_*.inl
XONLINE:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/XOnline/*
    - src/OOVPADatabase/XOnline_*.inl
XAPI:
- changed-files:
  - any-glob-to-any-file:
    - src/OOVPADatabase/Xapi/*
    - src/OOVPADatabase/Xapi_*.inl

# Misc
CMAKE:
- changed-files:
  - any-glob-to-any-file:
    - '**/CMakeLists.txt'

# Whenever add another tool, update below as well.
TOOLS:
- changed-files:
  - any-glob-to-any-file:
    - src/cli/**
