Repository Cxbx-Reloaded/XbSymbolDatabase, pull requests merged in 2020-10, with the labels that each got.

#117 Fix D3DDevice::SetTexture and D3DDevice::SetStreamSource LTCG variation for xdk-3911
  src/OOVPADatabase/D3D8LTCG/3911.inl
  src/OOVPADatabase/D3D8LTCG_OOVPA.inl
  src/lib/libXbSymbolDatabase.c
Labels: D3D8LTCG, OOVPA

#116 Fix couple errors and warnings from DSound OOVPA signatures
  src/OOVPADatabase/DSound/3911.inl
  src/OOVPADatabase/DSound/3936.inl
  src/OOVPADatabase/DSound/4242.inl
  src/OOVPADatabase/DSound/4627.inl
  src/OOVPADatabase/DSound/5344.inl
  src/OOVPADatabase/DSound_OOVPA.inl
Labels: DSOUND, OOVPA

#119 Reduce OV match pairs for enforce width limit
  src/OOVPADatabase/OOVPA.h
Labels: OOVPA

#120 Fix Kernel Thunk Table Not Being Found Outside of Section Filter List
  include/Xbe.h
  src/lib/libXbSymbolDatabase.c
Labels: priority-high
