Repository Cxbx-Reloaded/XbSymbolDatabase, pull requests merged in 2021-01, with the labels that each got.

#128 Split D3DDevice_LoadVertexShader_0 into two OOVPAs
  src/OOVPADatabase/D3D8LTCG/3911.inl
  src/OOVPADatabase/D3D8LTCG/4432.inl
  src/OOVPADatabase/D3D8LTCG/5849.inl
  src/OOVPADatabase/D3D8LTCG_OOVPA.inl
Labels: D3D8LTCG, OOVPA

#129 Fix install command for CMake 3.12 or 3.13 and below
  CMakeLists.txt
  projects/cli/CMakeLists.txt
  projects/libXbSymbolDatabase/CMakeLists.txt
Labels: CMAKE, bug

#133 Fix gitattributes file again
  .gitattributes
Labels: bug
