Repository Cxbx-Reloaded/XbSymbolDatabase, pull requests merged in 2021-06, with the labels that each got.

#137 Added XUnmountMU and MU_Init
  include/libXbSymbolDatabase.h
  src/OOVPADatabase/Xapi/3911.inl
  src/OOVPADatabase/Xapi/4242.inl
  src/OOVPADatabase/Xapi/5233.inl
  src/OOVPADatabase/Xapi_OOVPA.inl
Labels: OOVPA, XAPI, needs-verification

#138 fix clang format lint
  .github/workflows/pull-request.yml
  src/OOVPADatabase/D3D8LTCG/5849.inl
Labels: D3D8LTCG, OOVPA

#139 Xapi's Memory Unit Sigs Update
  include/libXbSymbolDatabase.h
  src/OOVPADatabase/Xapi/3911.inl
  src/OOVPADatabase/Xapi/4242.inl
  src/OOVPADatabase/Xapi/5233.inl
  src/OOVPADatabase/Xapi_OOVPA.inl
  src/lib/libXbSymbolDatabase.c
Labels: OOVPA, XAPI, needs-verification

#140 Fix CLI Tool missing XbSymbolContext_RegisterXRefs call
  src/cli/main.c
Labels: TOOLS

#141 Added XReadMUMetaData
  src/OOVPADatabase/Xapi/4831.inl
  src/OOVPADatabase/Xapi_OOVPA.inl
Labels: OOVPA, XAPI
